In [2]:
import pandas as pd

In [3]:
file = "PyBank/Resources/budget_data.csv"
budget_df = pd.read_csv(file)
budget_df

      Date  Revenue
0   Oct-12  1154293
1   Nov-12   885773
2   Dec-12  -448704
3   Jan-13   563679
4   Feb-13   555394
5   Mar-13   631974
6   Apr-13   957395
7   May-13  1104047
8   Jun-13   693464
9   Jul-13   454932
10  Aug-13   727272
11  Sep-13   125016
12  Oct-13   339251
13  Nov-13    78523
14  Dec-13   977084
15  Jan-14  1158718
16  Feb-14   332681
17  Mar-14  -341227
18  Apr-14   173826
19  May-14   742611
20  Jun-14  1189806
21  Jul-14   607363
22  Aug-14 -1172384
23  Sep-14   587993
24  Oct-14   295198
25  Nov-14  -300390
26  Dec-14   468995
27  Jan-15   698452
28  Feb-15   967828
29  Mar-15  -454873
30  Apr-15   375723
31  May-15  1140526
32  Jun-15    83836
33  Jul-15   413189
34  Aug-15   551363
35  Sep-15  1195111
36  Oct-15   657081
37  Nov-15    66659
38  Dec-15   803301
39  Jan-16  -953301
40  Feb-16   883934

In [4]:
sum_revenue = budget_df["Revenue"].sum()
sum_revenue

18971412

In [5]:
total_months = len(budget_df["Date"].unique())
total_months

# budget_df["Date"].count()

41

In [6]:
greatest_increase = budget_df["Revenue"].max()
for index, row in budget_df.iterrows():
    if row["Revenue"] == greatest_increase:
        greatest_increase_month = row["Date"]
    
print(f"Greatest Increase in Profits: {greatest_increase_month} (${greatest_increase})") 
print("Greatest Increase in Profits: " + str(greatest_increase_month) + " ($" + str(greatest_increase) +")")

Greatest Increase in Profits: Sep-15 ($1195111)
Greatest Increase in Profits: Sep-15 ($1195111)

In [7]:
budget_df.loc[greatest_increase]

KeyError: 'the label [1195111] is not in the [index]'

In [ ]:
greatest_decrease = budget_df["Revenue"].min()
for index, row in budget_df.iterrows():
    if row["Revenue"] == greatest_decrease:
        greatest_decrease_month = row["Date"]
print(f"Greatest Decrease in Profits: {greatest_decrease_month} (${greatest_decrease})")

In [ ]:
monthly_changes_list = []
initial = 0
final = 0
for index, row in budget_df.iterrows():
    if index == 0:
        initial = row["Revenue"]
    else:
        final = row["Revenue"]
        monthly_change = (final - initial)
        monthly_changes_list.append(monthly_change)
        initial = final 
        
change_sum = 0
for change in monthly_changes_list:
    change_sum += change
    
average_change = change_sum/len(monthly_changes_list)
average_change

In [ ]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${sum_revenue}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: {greatest_increase_month} (${greatest_increase})")
print(f"Greatest Decrease in Profits: {greatest_decrease_month} (${greatest_decrease})")